/* 改变主题色变量 */
$--color-primary: #285FEE;
$--color-success: #30CC83;
$--color-danger: #F13642;
$--color-warning: #FDBB31;
$--color-text-primary: #333;
$--color-text-secondary: #666;
$--color-text-placeholder: #999;

$--border-color-base: #D9D9D9;
$--input-font-color: #999;
$--input-disabled-fill: #f6f6f6;
$--input-disabled-color: #666;
$--table-header-background-color: #fafafa; 
$--font-size-base: 14px;
$--font-size-small: 14px;
$--button-small-font-size: 14px;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* stylelint-disable */
@import "~element-ui/packages/theme-chalk/src/index";
